# Enforce LF for all text files
* text=auto

# Explicitly set line endings for specific file types
*.sh text eol=lf
*.bat text eol=crlf
*.md text eol=lf

# Treat binary files as binary to avoid line ending changes
*.jpg binary
*.png binary
*.exe binary
*.dll binary
